<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
    <!-- 
        The ConfigSections entry is not necessary in Custom Config Files
    -->
    
    <appSettings>
        <add key="TestEntry" value="Custom Test Value"/>
    </appSettings>
    
    <ListSection>
        <ItemList name="ListElements">
            <Item>Item 0</Item>
            <Item>Item 1</Item>
            <Item>Item 2</Item>
            <Item>Item 3</Item>        
        </ItemList>

        <ItemList name="AddedProperties">
            <Item>Item 0</Item>
            <Item>Item 1</Item>
            <Item>Item 2</Item>
            <Item>Item 3</Item>
            <Item>Item 4</Item>
            <Item>Item 5</Item>
            <Item>Item 6</Item>
        </ItemList>

        <ItemList name="MyList">
            <Item>{ "Name":"Dev Object", "Value":"Dev Object Value" }</Item>
            <Item>{ "Name":"Intg Object", "Value":"Intg Object Value" }</Item>
            <Item>{ "Name":"Syst Object", "Value":"Syst Object Value" }</Item>
            <Item>{ "Name":"Prod Object", "Value":"Prod Object Value" }</Item>
        </ItemList>
        
        <!-- Keyed Lists -->

        <ItemList name="KeyedList">
            <Item key="Dev">Dev Item</Item>
            <Item key="Intg">Intg Item</Item>
            <Item key="Syst">Syst Item</Item>
            <Item key="Prod">Prod Item</Item>
        </ItemList>

        <ItemList name="KeyedObjList">
            <Item key="Dev">{ "Name":"Dev Object", "Value":"Dev Object Value" }</Item>
            <Item key="Intg">{ "Name":"Intg Object", "Value":"Intg Object Value" }</Item>
            <Item key="Syst">{ "Name":"Syst Object", "Value":"Syst Object Value" }</Item>
            <Item key="Prod">{ "Name":"Prod Object", "Value":"Prod Object Value" }</Item>
        </ItemList>

        <ItemList name="KeyedObjList_Negative">
            <Item key="Dev">{ "Name":"Dev Object", "Value":"Dev Object Value" }</Item>
            <Item key="Dev">{ "Name":"Dev Object", "Value":"Dev Object Value" }</Item>
            <Item key="Intg">{ "Name":"Intg Object", "Value":"Intg Object Value" }</Item>
            <Item key="Intg">{ "Name":"Intg Object", "Value":"Intg Object Value" }</Item>
            <Item key="Syst">{ "Name":"Syst Object", "Value":"Syst Object Value" }</Item>
            <Item key="Syst">{ "Name":"Syst Object", "Value":"Syst Object Value" }</Item>
            <Item key="Prod">{ "Name":"Prod Object", "Value":"Prod Object Value" }</Item>
            <Item key="Prod">{ "Name":"Prod Object", "Value":"Prod Object Value" }</Item>
        </ItemList>
        
    </ListSection>
</configuration>